html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {

	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	outline: none;
	font-family: 'Exo 2', sans-serif;
	line-height: 1;
  background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.game-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 48px;
  font-weight: bolder;
  text-align: center;
  display: block;
  margin: 15px;
  padding: 15px;
  color: blanchedalmond;
  width: 600px;
  outline: 1px solid blanchedalmond;
  margin-left: 150px;
}

.game-middle-container {
  display: flex;
	margin-left: 40px;
}

.game-buttons {
  height: 500px;
  width: 156px;
  background-color: lightgrey;
  margin: 20px;
}

.game-center-screen {
  background-image: image("/Users/Eihcir0/Desktop/code_camp_sim/app/assets/images/floor.png");
  height: 500px;
  width: 800px;
  background-color: grey;
  margin: 20px;
}

.game-right-side {
  height: 480px;
  width: 150px;
  background-color: lightgrey;
  margin: 20px;
  padding: 10px;
}

.game-messages {
  color: blanchedalmond;
  font-family: 'Exo 2', sans-serif;
  font-size: 24px;
  display: inline-block;
  width: 650px;
	height: 100px;
  padding: 15px;
  line-height: normal;
  /*outline: 1px solid blanchedalmond;*/
	margin-left: 120px;
	margin-top: 20px;
	border: 1px solid blanchedalmond;

}


.stats-bar {
  display: inline-block;
	margin-left: 20px;
}
.icon {
  display: inline-block;
  width: 10%;
  padding: 8px;
}

.score {
  font-size: 36px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
}
.player-title {
  display: inline-block;
  text-align: center;
  margin-left: 25px
}

.player-pic {
  width: 93%;
  height: 93%;
}

button {
		box-shadow: 1px 2px 2px 2px;
    width: 120px;
    position: absolute;
    top: 520px;
    left: 300px;
    margin: 10px;
    border-radius: 6px;
    background-color: silver;
}

#canvas {
	color: white;
	width: 800px;
	height: 500px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 50px;
}

.lecture-slide {
	width: 700px;
	height: 400px;
	margin-top: 20px;
	margin-left: 50px;
	padding: 50px;
	line-height: 50px;
	background: blanchedalmond;
	font-size: 36px;
}
.blur1 {
   color: transparent;
   text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.blur2 {
   color: transparent;
   text-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.blur3 {
   color: transparent;
   text-shadow: 0 0 35px rgba(0,0,0,0.5);
}

.blur4 {
   color: transparent;
   text-shadow: 0 0 45px rgba(0,0,0,0.5);
}

.blur5 {
   color: transparent;
   text-shadow: 0 0 55px rgba(0,0,0,0.5);
}

.blur6 {
   color: transparent;
   text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.blur7 {
   color: transparent;
   text-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.blur8 {
   color: transparent;
   text-shadow: 0 0 35px rgba(0,0,0,0.5);
}

.blur9 {
   color: transparent;
   text-shadow: 0 0 45px rgba(0,0,0,0.5);
}

.blur10 {
   color: transparent;
   text-shadow: 0 0 55px rgba(0,0,0,0.5);
}

.eyes-closed {
	width: 800px;
	height: 400px;
	margin-top: 20px;
	padding: 50px;
	line-height: 50px;
	background: black;
	color: white;
	font-size: 36px;
}

.strike {
	width: 800px;
	margin-left: 100px;
	background: black;
	color: red;
	font-size: 567px;
}

.congrats {
	width: 800px;
	background: black;
	color: green;
	font-size: 72px;
	padding-top: 200px;
	margin-left: 100px;
}

.faint-meter-bar {
	width: 800px;
	margin-left: 50px;
}

.middle-button {
  width: 200px;
	font-size: 18px;
  padding: 10px;
	border-radius: 8px;
	background-color: blanchedalmond;

}

.teacher-image {
		position: absolute;
    width: 158px;
    top: 400px;
    left: 715px;
}

.middle-button {
  width: 200px;
	font-size: 18px;
  padding: 10px;
	border-radius: 8px;
	background-color: blanchedalmond;

}

.x {
	margin-left: 100px;
}

.pairs-sesh {
	width: 800px;
}

.pairs-line {
	position: absolute;
	left: 400px;
	color: black;
}


.pairs-line-text {
	font-family: 'VT323', monospace;
	font-size: 24px;
	padding: 5px;
	background-color: white;
	position: absolute;
	left: 180px;
	margin: 0 auto;
	width: 250px;
}



textarea {
	font-family: 'VT323', monospace;
	color: brightgreen;
	outline: none;
	background-color: #efefff;;
	display: inline-block;
	position: absolute;
	top: 250px;
	border: none;
	margin-left: 100px;
	font-size: 24px;
	width: 340px;
	height: 50px;
	padding: 20px;
	padding-bottom: 15px;
	resize: none;
}
/*#lecture-slide	{
	background:url(/Users/Eihcir0/Desktop/code_camp_sim/app/assets/images/rays.jpeg") 0 0 no-repeat;
	position:absolute;
	top:0;
	left:0;
	width:490px;
	height:490px;
	transform:scale(1) rotate(16.768rad);*/


.pairs-computer-screen {
	position: absolute;
	top: 190px;
	left: 82px;
}
